
body {
    background-color: lightgreen;
}

.heading {
   font-size: 25px;
   width: 100%;
   margin: 0px;
   box-shadow: 5px 5px 5px steelblue;
}

.heading_div {
    background: white;
    color: black;
    float: none;
    padding: 10px;
    border-radius: 20px;
    box-shadow: 5px 5px 5px green;
}

.heading_div2 {
    font-size: 18px;
}